<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
<div class="container-fluid text-white d-flex">
  <div class="w-50"> <h1 class="h3">Hello every nyan</h1></div>
</div>
<div class="w-100 d-flex align-items-center text-white">
  <h2 class="h4 pe-5">How are you?</h2>
  <p class="pe-5">fine sank you</p>
  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="OMG">
    OMG
  </button>
</div>
</nav>
<section class="bg-dark text-white my-0 py-0">
  <div class="px-5 py-5">
    <p class="p-0 m-0">App de {{app}} salvaje aparece</p>
  </div>
</section>
<!-- <section class="bg-dark text-white px-5 py-3"><componentHero></componentHero></section> -->
<section class="bg-dark text-white px-5 py-3">
  <heroesList></heroesList>
</section>

